<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Filter</div>
      <div class="panel-body">
        <input name="q"
               class="form-control"
               type="text"
               placeholder="Begin typing..."
               ng-model="$ctrl.q" />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Data <span class="badge pull-right">{{ filtered.length }} rows<span></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <td ng-repeat="field in $ctrl.header">
              <strong>{{ field }}</strong>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in $ctrl.data | orderBy: 'library' | filter: $ctrl.q as filtered">
            <td>
              {{ item.patron_zip }}
            </td>
            <td>
              {{ item.patron_type }}
            </td>
            <td>
              {{ item.library }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
